@model string
@{
    ViewData["Title"] = "ResultPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Aşağıdaki mesaj PhoneBook projesinde giriş yapmış kişiden geldi!</h1>


<label>@Model</label>

