@model AppUser

<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="#">TechStore</a></div>
                    </div>
                    <div class="footer_title">Sorunuz mu var? Bize ulaşın!</div>
                    <div class="footer_phone">+90 555 55 55</div>
                    <div class="footer_contact_text">
                        <p>34204</p>
                        <p>Bağcılar, İstanbul , TÜRKİYE </p>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Hızlı Bulun</div>
                    <ul class="footer_list">
                        <li><a href="#">Bilgisayar ve Laptop</a></li>
                        <li><a href="#">Kamera ve Fotoğraflar</a></li>
                        <li><a href="#">Hardware</a></li>
                        <li><a href="#">Akıllı telefonlar ve tabletler</a></li>
                        <li><a href="#">TV & Ses Cihazları</a></li>
                    </ul>
                    <div class="footer_subtitle">Aletler</div>
                    <ul class="footer_list">
                        <li><a href="#">Araba Elektroniği</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <ul class="footer_list footer_list_2">
                        <li><a href="#">Video Oyunları ve Konsollar</a></li>
                        <li><a href="#">Aksesuarlar</a></li>
                        <li><a href="#">Kamera ve Fotoğraflar</a></li>
                        <li><a href="#">Hardware</a></li>
                        <li><a href="#">Bilgisayar ve Laptop</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Müşteri Hizmetleri</div>
                    <ul class="footer_list">
                        <li><a href="#">Hesabım</a></li>
                        <li><a href="#">Sipariş Takip</a></li>
                        <li><a href="#">Dilek ve öneri kutusu</a></li>
                        <li><a href="#">Müşteri hizmeleri</a></li>
                        <li><a href="#">Değişim ve İade</a></li>
                        <li><a href="#">SSS</a></li>
                        <li><a href="#">Ürün Destek Hattı</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>